/* 
Structure: 
css is like presentation layer, 
Property: Values
colour: green
font-family: "Times", serif
text-align: center

3 ways to import css in html
1. inline - using attributes in html like style, writing directly while writing a tag
2. external - 
3. internal - using a tag inside html tag using selectors, 

*/
